@import '../../styles/variables.scss';

.CreatorInfosContainer {
  padding-top: 1.5rem;
  text-align: center;

  p {
    letter-spacing: 1px;
  }

  span, a {
    font-weight: bold;
    color: $green-color;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;

    }

    &:last-of-type {
      margin-top: .25rem;
    }
  }
}